.font-color{
  color: #fff;
}

.btn{
  background-color: dimgrey;
  padding: 10px;
  width: 120px;
  height: 20px;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
}

.font-big{
  font-size: 20px;
}

.font-small{
  font-size: 12px;
}

.font-br{
  margin-bottom: 15px;
}

.event-box{
  width: 45%;
  height: 40%;
  position: absolute;
  transition: all .5s;
  box-sizing: border-box;
  z-index: 1;
}

.event-box:hover{
  border: 15px solid #fff;
}

.landingPage1{
  height: 500px;
  position: relative;
  background-image: linear-gradient(rgb(74, 132, 240), #747bf7);
}

.landingPage1-bg{
  width: 100%;
  height: 100%;
}

.landingPage1-title{
  position: absolute;
  top: 10%;
  left: 7%;
}

.landingPage1-info{
  position: absolute;
  top: 18%;
  left: 7%;
}

.landingPage1-btn{
  position: absolute;
  top: 27%;
  left: 7%;
}

.iphone{
  height: 70%;
  width: 25%;
  position: absolute;
  bottom: 0;
  right: 15%;
}

.landingPage2{
  height: 200px;
  box-sizing: border-box;
  padding-top: 35px;
}

.landingPage2-line{
  width: 700px;
  height: 100px;
  margin: 0 auto;
  text-align: center;
}

.landingPage2-btn{
  margin: 0 auto;
}

.landingPage3{
  background-color: #747bf7;
  height: 250px;
  text-align: center;
  box-sizing: border-box;
  padding-top: 30px;
}

.landingPage3-title{
  margin-bottom: 5px;
}

.landingPage3-info{
  margin-bottom: 10px;
}

.landingPage3-icons{
  margin: 0 auto;
  width: 60%;
  height: 150px;
  display: flex;
}

.landingPage3-icon{
  margin-top: 20px;
  width: 25%;
}

.landingPage3-icon p{
  margin-top: 5px;
}

.landingPage3-icon div{
  font-size: 36px;
  padding-top: 7px;
  box-sizing: border-box;
}

.big-icon{
  width: 50px;
  height: 50px;
  border-radius: 25px;
  background-color: #fff;
}

.landingPage4{
  height: 120px;
  box-sizing: border-box;
  padding-top: 35px;
}

.landingPage4-line{
  width: 700px;
  height: 100px;
  margin: 0 auto;
  text-align: center;
}

.landingPage5{
  width: 900px;
  height: 500px;
  background-color: red;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.landingPage5-bg{
  width: 50%;
  height: 50%;
}

.landingPage5-bg p{
  position: absolute;
}

.landingPage5-1{
  background-image: url("./img/portfolio-1.jpg");
  width: 100%;
  height: 100%;
  background-size: cover;
  background-color: rgba(0, 0, 0, .5);
  background-blend-mode: multiply;
}

.landingPage5-1 p:first-child{
  top: 10%;
  left: 4%;
}

.landingPage5-1 p:last-child{
  top: 20%;
  left: 4%;
}

.landingPage5-2{
  background-image: url("./img/portfolio-2.jpg");
  width: 100%;
  height: 100%;
  background-size: cover;
}

.landingPage5-2 p:first-child{
  top: 10%;
  left: 54%;
}

.landingPage5-2 p:last-child{
  top: 20%;
  left: 54%;
}

.landingPage5-3{
  background-image: url("./img/portfolio-3.jpg");
  width: 100%;
  height: 100%;
  background-size: cover;
}

.landingPage5-3 p:first-child{
  top: 60%;
  left: 4%;
}

.landingPage5-3 p:last-child{
  top: 70%;
  left: 4%;
}

.landingPage5-4{
  background-image: url("./img/portfolio-4.jpg");
  width: 100%;
  height: 100%;
  background-size: cover;
}

.landingPage5-4 p:first-child{
  top: 60%;
  left: 54%;
}

.landingPage5-4 p:last-child{
  top: 70%;
  left: 54%;
}